

input[type="file"]{
    display: none;
}

.impContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.imageContainer{
    display: flex;
    justify-content: center;
    height: fit-content;
}

.photoImp{
    width: 20rem;
    height: 20rem;
    background-color: white;
    border:3px solid rgb(49, 113, 210);
    border-radius: 15px;
    align-self: center;
}

.material-symbols-outlined.impSvg{
    color:rgb(49, 113, 210);
    width: 100%;
    height: 100%;
    font-size: 20rem;
    transition: all ease-in 0.2s;

}
.material-symbols-outlined.impSvg:hover{
    transform: translateY(-0.4rem);
    cursor: pointer;
    transition: all ease-in 0.2s;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

.canvasBorders{
    position: absolute;
    border: 3px dashed greenyellow;
    border-radius: 15px;
}

.customBtn{
    border: 1px solid rgb(49, 113, 210);
    border-radius: 9px;
    padding: 0.4rem;
    background-color:white;
    transition: all ease-in 0.2s;
    text-decoration: none;
    cursor: pointer;
}
.customBtn:hover{
    background-color: rgb(49, 113, 210);
    color: white;
    transition: all ease-in 0.2s;

}

.img {
    width: 100%;
    object-fit: contain;
}


.delzone{
    width: 100%;
    height: 10rem;
    background-color: rgba(255, 0, 0, 0.308);
    border-radius: 9px;
    margin-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;

}

.DDimage{
    border: 1px solid black;
}
.DDimageMove{
    border: 1px solid yellow;
}


.editorBtn{
    width: 100%;
    background-color: white;
    border: 1px solid rgb(49, 113, 210);
    border-radius: 9px;
    margin-bottom: 0.3rem;
}